@charset "UTF-8";

video {
	position: absolute;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: -1;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.backimage {
	position: absolute;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: -1;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translate(-50%, -50%);
	z-index: -1;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	opacity: .9;
	text-align: center;
}
ul li {
	float: right;
	width: 200px;
	height: 40px;
	background-color: black;
	opacity: .7;
	line-height: 40px;
	text-align: center;
}
.content {
	position: relative;
	padding-top: 70px;
	padding-left: 600px;
	padding-right: 500px;
	/* z-index: 2; */
	color: aqua;
	float: left;
	font: 400 20px/0.8 'Great Vibes', Helvetica, sans-serif;
}
.content1 {
	position: fixed;
	position: relative;
	top: 0px;
	width: 100%;
	padding: 20px;
	/* z-index: 10; */
	margin: 0px;
	background-color: black;
	opacity: .4;
	color: aqua;
	text-align: center;
	font-family: arial;
}

.content1 > p {
	font-size: 100px;
	font-family: 'Great Vibes', Helvetica, sans-serif;
}
	
ul li a:hover {
	display: block;
	background-color:pink;
}
	
 ul li ul li {
	display: none;
}
	 
 ul li:hover ul li {
	display: block;
} 

	footer {
		bottom:0;
		/* z-index: 9; */
		opacity: .3;
		background-color: black;
	}
	
.content3 {
		bottom: 0px;
	    position: fixed;
		margin-bottom: auto;
	    margin-left: 25%;
	}

	.container{
		text-align: center;
		/* z-index: 2; */
	
		
	}
	
	
	
	.card{
		/* position: fixed; */
		/* top: 50%; left: 50%; */
		/* z-index: 2; */
		width: auto;
		height: auto;  
		transform: translate(-50%, -50%);
		color: aliceblue;

		}
		
	.card-title {

		font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
  		text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);

		}

	.btn {
		font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
  		text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
	}
	
	.page3bg {
		position: absolute;
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: -1;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		transform: translate(-50%, -50%);
		z-index: -1;
	}
	
.buttoncontainer{
	position: absolute;
	bottom: 0%;
	left: 40%;
}
h1{
	color: aliceblue;
  font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}