@charset "UTF-8";

video {
	position: absolute;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: -1;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.backimage {
	position: absolute;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: -1;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translate(-50%, -50%);
	z-index: -1;
}
ul {
	padding: 0px;
	list-style: none;
	opacity: .9;
	text-align: center;
}
ul li {
	width: 340px;
	height: 40px;
	background-color: black;
	opacity: .7;
	line-height: 40px;
	text-align: center;
	margin: auto
}
.content {
	line-height: 50px;
	position: relative;
	padding-top: 70px;
	padding-left: 500px;
	padding-right: 500px;
	color: white;
	float: left;
	font: 400 30px/0.8 'Pacifico', Helvetica, sans-serif;
	margin: 0 auto;
	width: 100%;

}
.content1 {
	position: fixed;
	position: relative;
	top: 0px;
	width: 100%;
	padding: 20px;
	margin: 0px;
	background-color: black;
	opacity: .6;
	color: aqua;
	text-align: center;
	font-family: arial;
}

.content1 > p {
	font-size: 100px;
	font-family: 'Pacifico', Helvetica, sans-serif;
	color: white;
}

ol {
	list-style-type: none;
}
	
ul li a:hover {
	display: block;
	background-color:pink;
}
	
 ul li ul li {
	display: none;
}
	 
 ul li:hover ul li {
	display: block;
} 
	
.content3 {
		bottom: 0px;
	    position: fixed;
		margin-bottom: auto;
	    margin-left: 25%;
	}

	#container{
		text-align: center;
		/* z-index: 2; */
	
		
	}



	#container1{
		text-align: center;
		/* z-index: 2; */
}
	
	

	.card{
		/* position: fixed; */
		/* top: 50%; left: 50%; */
		/* z-index: 2; */
		width: auto;
		height: auto;  
		transform: translate(-50%, -50%);
		color: aliceblue;

		font: 400 20px/0.8 'Great Vibes', Helvetica, sans-serif;
  		color: #fff;
 		text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
	  }
		
	.card-title {

		font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
  		text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);

		}

	.btn {
		font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
  		text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
	}
	
	.page3bg {
		position: absolute;
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: -1;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		transform: translate(-50%, -50%);
	}

	h1, p, label, li {
		color: #fff; 
	}
	
	.form-group{
    bottom: 0%;
    left: 40%;
    align-content: center;
    position: fixed;
}
.sign{
    bottom: 0%;
    position: fixed;
		margin: 0 0 0 4.5rem;
}

h1{
	color: aliceblue;
  font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;
	text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
	text-align: center;
}

.page4bg{
	position: absolute;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: -1;
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);

}


.loadimg{
	text-align: center;
}

.buttoncontainer {
text-align: center;
	margin: 0 auto;
padding: 0;
}

.footer {
margin-top: 50%;
}

